@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@600&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Raleway:ital,wght@1,100&family=Roboto:wght@300;400&family=Tilt+Neon&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(https://images.unsplash.com/photo-1483982258113-b72862e6cff6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.start{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(208, 198, 198, 0.5);
}
.start h1{
    margin-top: 9rem;
    font-size: 6rem;
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: 1px;
    text-decoration: 4px solid whitesmoke underline;
}
.start button{
    height: 4rem;
    width: 13rem;
    margin-top: 5rem;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    color: whitesmoke;
    border: 3px double whitesmoke;
    cursor: pointer;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(208, 198, 198, 0.5);
    box-shadow: 1px 1px 4px #bfbfbf;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  padding: 35px;
  background: transparent;
  color: #f1f5f9;
  border-radius: 10px;
  display: none;
}
.wrapper .input-field {
  opacity: 0;
  
  position: absolute;
}
.wrapper .content-box {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: 4px double #bfbfbf;
  box-shadow: 1px 1px 4px #bfbfbf;
  flex-wrap: wrap;
}
.content-box .typing-text {
  overflow: scroll;
  max-height: 256px;
}
.typing-text p {
  font-size: 22px;
  text-align: justify;
  letter-spacing: 1.5px;
}
.typing-text p span {
  position: relative;
}
.typing-text p span.correct {
  color: yellowgreen;
}
.typing-text p span.incorrect {
  color: red;
  outline: 1px solid #fff;
  border-radius: 4px;
}
.typing-text p span.active {
  color: rgb(83, 144, 144);
}
.typing-text p span.active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
.content-box .content {
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
  line-break: auto;
  flex-wrap: wrap;
}
.content button {
  outline: none;
  border: none;
  width: 105px;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #bfbfbf;
  color: #0f172a;
  transition: transform 0.5s ease;
}
button:hover{
  transition: .3s ease-in;
  background: skyblue;
  color: #fff;
}
.content button:active {
  transform: scale(1.2);
}
.content .result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 180px);
  justify-content: space-between;
}
.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.share_btn{
  margin-left: 17rem;
  align-items: center;
  outline: none;
  border: none;
  width: 105px;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: skyblue;
  color:white;
  transition: transform 0.5s ease;
}
.share_btn:hover{
  transition: .3s ease-in;
  background-color: #bfbfbf;
  color: #0f172a;
}
.result-details li:not(:first-child) {
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p {
  font-size: 19px;
}
.result-details li span {
  /* display: block; */
  font-size: 20px;
  margin-left: 10px;
}
li span b {
  font-weight: 500;
}
li:not(:first-child) span {
  font-weight: 500;
}
.errors span {
  color: #facc15;
}
.timeLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-decoration: 1px double underline;
    text-shadow: 2px 2px 3px rgba(208, 198, 198, 0.5);
}
.timeLeft span,b{
  color: rgb(248, 67, 67);
  font-weight: lighter;
}
.social-icons{
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.instagram, .facebook, .linkedin{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
}
.linkedin:hover{
  transition: .2s ease-in-out;
  background-color: skyblue;
  color: black;
}
.facebook:hover{
  transition: .2s ease-in-out;
  background-color: skyblue;
  color: black;
}
.instagram:hover{
  transition: .2s ease-in-out;
  background-color: skyblue;
  color: black;
}