body,
html {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
  margin: 20px;
  text-shadow: 2px 2px #000;
  animation: pulse 2s infinite;

}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}



p {
  font-family: Georgia;
  font-style: italic;
  text-shadow: 1px 2px #000;
}

.exclusions {
  font-family: Georgia;
  letter-spacing: 1px;
  text-shadow: none;
  font-style: normal;
}

.hero-image {
  background-image: url("https://media.istockphoto.com/id/952087564/photo/makeup-artist-applies-eye-shadow.jpg?s=612x612&w=0&k=20&c=1q9YNF8wSefQSbmysXa9ZMYnR_iujCymtzRV1W1uRJ0=");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-exclusions {
  position: fixed;
  text-align: center;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 35px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  border: 5px solid black;
  margin-left: -1px;
  margin-top: 5%;
  font-size: 8pt;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: Geogia;
  font-style: italic;
  /* animation: shake 1s infinite; */
  
}

.hero-text button:hover {
  background-color: transparent;
  color: white;
  border: 5px solid black;
  text-shadow: 2px 2px #000;
}

/*start of popup*/
.exclusions {
  font-family: Georgia;
  font-size: 8pt;
  letter-spacing: 1px;
  text-shadow: none;
  animation: pulse 2s infinite;
  font-style: normal;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Style for the LinkedIn and GitHub links with icons */
.popup h2 {
  font-style: italic;
  font-size: 24px;
  margin-top: 0;
  color: #333;
  font-family: Georgia, sans-serif;
}

 h2 img {
  border-radius: 50%;
  height: 180px;
  object-fit: cover;
}

.popup #icon {
  width: 30px;
  height: 30px;
  color: #333;

}

.popup .close {
  position: fixed;
  top: 90px;
  left: 78%;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #a6a6a6;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  padding-top: 30px;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

/* unvisited link */
a:link {
  color: #fff;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #ccc;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #fff;
}
.popup{
  background-image: linear-gradient(rgba(104, 104, 236),rgba(238, 165, 251));
}