*
{
    font-family: 'Poppins',sans-serif;
}
body
{
    background-color: #454545;
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    width: 100%;
    color: white;
    padding: 0 10px;
    
}

#nav i{
    padding-right: 14px;
}

button{
    border: 1px solid cyan;
    background-color: #454545;
    color: white;
    border-radius: 7px;
    margin-bottom: 7px;
}




.left, .right
{
    flex-basis: 50%;
    padding: 10px;
}

#html{
    color: orangered;
}
#css{
    color: rgb(73, 167, 225);
}
#js{
    color: rgb(221, 228, 34);
}
.container
{
    width: 100%;
    height: 100vh;
    padding: 4px;
    display: flex;
}

.innerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

textarea
{
    width: 94%;
    height: 26%;
    background-color: #1f1f1f;
    padding: 10px 20px;
    margin: 7px 0;
    border: 0;
    outline: 0;
    font-size: 18px;
    color:#fff
}

.right{
    display: flex;
    flex-direction: column;
}
iframe
{
    width: 90%;
    height: 96%;
    background-color: #ffffff;
    color: black;
    border: 0;
    outline: 0;
}
i
{
    padding-right: 5px;
}
