

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    width: 100vw;
    display: flex;
    background-color: white;
    overflow-x: hidden;
    border: var(--bord);
}

/* Style for the container */
.file-input-container {
    position: relative;
    width: 200px;
    height: 50px;

}

/* Style for the input */
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Style for the button */
.file-input-label {
    display: block;
    padding: 10px;
    background-color: #3498db8f;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.details {
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    display: flex;
    gap: 1rem;
    width: 50%;
    background-color: white;
    padding: 1%;
}

.date {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    gap: 0.5rem;
}

.conti {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.Input-head {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.List {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 1rem;
    background-color: #cbdaee;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.List-head {
    width: 75%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* gap: 0.5rem; */



}

.List input {

    border-radius: 5px;
    background: transparent;
    border: 1px solid rgb(165, 171, 176);
    font-size: 16px;
    height: 40px;
    line-height: 24px;
    padding: 7px 8px;
    color: rgb(8, 9, 10);
    box-shadow: none;

    :focus {
        background-color: transparent;
        border-color: #3b49df;
        box-shadow: 1px 1px 0 #3b49df;
    }

}

.List-head h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.list-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
}

.item input {
    width: 10%;

}

#text {
    width: 55%;
}

.item input {
    height: 30px;
}

.add,
.p {
    width: 50px;
    height: 30px;
    /* display: none; */

    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;


}

.l-img{
    width: 200px;
    height: 50px;
    visibility:hidden;
}

.Add-de {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.subC {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.charge {
    display: flex;
}

.charge div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date-in {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #f3f5f5;
}

.input-css {
    font-size: 13px;
    border-radius: 4px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #f3f5f5;
    display: block;
    height: 30px;

    :hover {
        border-color: #ccc;
    }

    :focus {
        border-color: #9147ff;
        background: #fff;
    }
}


.generate {




    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;




}

.generate:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}





























.invoice {
    width: 50%;
    padding: 2%;
    padding-top: 5px;
    background-color: #c5d2e7;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.while-pr {
    width: 100%;
    padding: 2%;
    padding-top: 5px;
    background-color: #c5d2e7;
}

.priv {
    color: #730293;
}

.print {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
}

.btn {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;

}



.page {
    width: 100%;
    background-color: white;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.summary {
    width: 100%;
    display: flex;
    align-items: center;

}

.summary P {
    font-size: 1.2rem;
    font-weight: 600;
}

.hr {
    border: 1px solid #c6b9b9;
    width: 100%;
    height: 1px;
}

.all-detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 100px) 200px;
    justify-content: space-between;
}

.cont {
    overflow-x: hidden;
    margin-top: 50px;
    /* border: var(--bord); */
    width: 80%;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    border: 2px solid rgb(146, 139, 139);
    padding-bottom: 50px;
}

.all-detail li {
    /* width: 200px; */
    /* border: var(--bord); */

    word-wrap: break-word;
}

.list-Head {
    width: 100%;
    /* display: grid;
    grid-template-columns: 290px 80px 50px 80px; */
    display: flex;
    /* column-gap: 0.5rem; */
    flex-shrink: 0;
    background-color: #bed984;
    justify-content: space-between;
    /* gap: 1rem; */

}

.list-Head h2 {
    font-weight: 600;
    padding: 10px;
    font-size: 1rem;
    justify-self: center;
    text-transform: uppercase
}

.list-items {
    display: flex;
    flex-direction: column;

}

.items {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(146, 139, 139);
    /* border-top-color: white; */
    ;

}




.items p {
    /* border: var(--bord); */
    height: 30px;
    text-align: center;
    padding: 5px 0;
}

.add-btn {

    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    display: none;


}


.Additional {
    display: flex;
    gap: 1rem;
    /* border: var(--bord); */
    /* position: ; */
    /* right: -200px; */
    justify-self: end;
    bottom: 0px;
    margin-left: 50%;
}

.Additional p {
    font-weight: 700;
}


.pric p {
    text-align: right;
    font-weight: 100;
}

textarea {
    font-size: 13px;
    border-radius: 4px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e259;
    display: block;
    height: 30px;
    width: 200px;
    resize: none;
    overflow: hidden;
}

.logo-img {
    width: 200px;
    /* border: 1px solid #000000; */
    height: 50px;
}

.charge-Input input {

    padding: 0 10px;
    text-align: left;
    transition-property: box-shadow, background;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-color: #DAE3F3;
    border-radius: 0px;
    color: #272C34;
    width: 100%;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    height: 30px;

    :hover {
        box-shadow: 0px 2px 4px rgb(39 44 52 / 12%);
    }

    :focus {
        transition-property: border-color, box-shadow, background;
        border-color: #39414D;
        outline: 0px;
        box-shadow: 0 0 0 3px #c5d2e7;
    }

}

.charge div p {

    padding: 0 10px;
    text-align: left;
    transition-property: box-shadow, background;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    color: #272C34;
    width: 100%;
    cursor: text;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    height: 30px;


}

#error-box {
    display: none;
    color: red;
}

.inc {
    width: 90%;
    text-align: right;
    /* border: var(--bord); */
    font-size: 2rem;
    font-weight: 700;

}

.InvoiceTotal {
    font-weight: 500;
}

.thank {
    width: 90%;
    /* height: 100px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffdd83;


}

.thank h1 {
    font-size: 1.2rem;
    color: rgb(80, 80, 83);
}

.thank p {
    text-align: center;

}

.thank h2 {
    font-size: 1.3rem;
    text-align: center;
}

#not {
    color: black;
    font-weight: 400;

}

@media screen and (max-width:1024px) {
    .Add-de {
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 50px;
    }

    .subC {
        width: 80%;
    }

}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}
body.dark .details {
    background-color: #292c35;
}

/* #9b59b6 */

body.dark label,body.dark textarea:focus, body.dark input:focus, body.dark .subC h2, body.dark .charge p{
    color: #fff;
}
body.dark #invoNo:focus, body.dark .lis-css:focus, body.dark .List-head{
    color: #111;
}